<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.css">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/js/bootstrap.js"></script>
    </head>
    <body>
      <!-- Fixed navbar -->
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              Limelight
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Github Links<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://github.com/limelight-stream">Limelight-stream</a></li>
                  <li><a href="https://github.com/limelight-stream/limelight-pc">Limelight-pc</a></li>
                  <li><a href="https://github.com/limelight-stream/limelight-android">Limelight-android</a></li>
                  <li><a href="https://github.com/limelight-stream/limelight-common">Limelight-common</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="container">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="well">
          {{ content }}
        </div>
      </div>
    </body>
</html>
